<div class="container">
  <h2 class="text-center my-3"> Ajout Produit </h2>
  <form #produitForm="ngForm" (ngSubmit)="validerFormulaire(produitForm)">
    <table class="mx-auto mt-5">
      <!-- <tr>
        <td> Id: </td>
        <td> <input id="id" name="id" type="text" [(ngModel)]="nouveauProduit.id" required /> </td>
      </tr> -->
      <tr>
        <td> <label for="code">Code:</label> </td>
        <td> <input id="code" class="form-control" type ="text" name="code" [(ngModel)]="nouveauProduit.code"/> </td>
      </tr>
      <tr>
        <td> <label for="designation">Désignation:</label> </td>
        <td> <input id="designation" class="form-control" type ="text" name="designation" [(ngModel)]="nouveauProduit.designation"/> </td>
      </tr>
      <tr>
        <td> <label for="prix">Prix:</label> </td>
        <td> <input id="prix" class="form-control" type ="text" name="prix" [(ngModel)]="nouveauProduit.prix"/> </td>
      </tr>
      <tr>
        <td> Categorie: </td>
        <td>
          <select class="form-select" name="categorie" [(ngModel)]="nouveauProduit.categorie">
            <option *ngFor="let c of categories" [ngValue]="c">{{c.libelle}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td [align]="'center'" colspan="2" class="pt-2">
          <input type="submit" class="btn btn-success" value="Valider" [disabled]="!produitForm.form.valid" />
          <button type="reset" class="btn btn-secondary ms-1">Effacer</button>
        </td>
      </tr>
    </table>
  </form>
</div>
<app-toast></app-toast>