<div class="container" *ngIf="afficherFormulaire">
  <h1> Mise à jour Produit </h1>
  <form #produitForm="ngForm" (ngSubmit)="validerFormulaire(produitForm)">
    <table>
      <tr>
        <td> Id: </td>
        <td> <input id="id" class="form-control" name="id" type="text" [(ngModel)]="produitCourant.id" required readonly /> </td>
      </tr>
      <tr>
        <td> <label for="code">Code:</label> </td>
        <td> <input id="code" class="form-control" type="text" name="code" [(ngModel)]="produitCourant.code"/> </td>
      </tr>
      <tr>
        <td> <label for="designation">Désignation:</label> </td>
        <td> <input id="designation" class="form-control" type="text" name="designation" [(ngModel)]="produitCourant.designation"/> </td>
      </tr>
      <tr>
        <td> <label for="prix">Prix:</label> </td>
        <td> <input id="prix" class="form-control" type ="text" name="prix" [(ngModel)]="produitCourant.prix"/> </td>
      </tr>
      <tr>
        <td> Categorie: </td>
        <td>
          <select class="form-select" name="categorie" [(ngModel)]="produitCourant.categorie">
            <option *ngFor="let c of categories" [ngValue]="c" [attr.selected]="c.id == produitCourant.categorie?.id ? true : null">{{c.libelle}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td [align]="'center'" colspan="2">
          <input class="btn btn-success" type="submit" value="Valider" [disabled]="!produitForm.form.valid" />
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="container">
  <h2 class="text-center my-3"> liste des produits </h2>
  <select class="form-select mb-2 w-auto mx-auto" [(ngModel)]="categorieCouranteId" (ngModelChange)="onSelectChange($event)">
    <option value="">--Tous--</option>
    <option value="0">--Sans catégorie--</option>
    <option *ngFor="let c of categories" [attr.value]="c.id" [attr.selected]="c.id == categorieCouranteId ? true : null">{{c.libelle}}</option>
  </select>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Id </th>
        <th>Code</th>
        <th>Designation</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produits">
        <td> {{p.id}}</td>
        <td> {{p.code}}</td>
        <td> {{p.designation}}</td>
        <td> {{p.prix}}</td>
        <td *ngIf="p.categorie != null; else elseBlock">{{p.categorie.libelle}}</td>
        <ng-template #elseBlock><td><i class="bi bi-dash"></i></td></ng-template>
        <td>
          <button (click)="selectionnerProduit(p)" class="btn btn-dark">
            <i class="bi bi-pen"></i>
            Editer
          </button>
        </td>
        <td>
          <button (click)="supprimer(p)" class="btn btn-danger">
            <i class="bi bi-trash"></i>
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>